*.pt
*.pth
*.pt.gz
*.pt.tar
*.pt.tar.gz
*.pt.tar.bz2
*.pt.tar.xz
*.pt.tar.lzma
*.pt.tar.7z
*.pt.tar.zst

#folder

/venv/
__pycache__/detector.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/main.cpython-313.pyc
